@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-base font-display text-text-main antialiased overflow-x-hidden selection:bg-primary-light selection:text-primary-dark;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}